@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  src: url("../src/assets/fonts/Monocraft.ttf"),
    local("MONOCRAFT-NERD-FONTS-PATCHED"), local("Monocraft Nerd Font");
  font-display: swap;
}
@font-face {
  font-family: "ProtestRevolution";
  src: url("../src/assets/fonts/protestrevolution-regular-webfont.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Caveat Brush";
  src: url("../src/assets/fonts/CaveatBrush-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Barlow Condensed Semibold Italic";
  src: url("../src/assets/fonts/BarlowCondensed-SemiBoldItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gochi Hand Regular";
  src: url("../src/assets/fonts/GochiHand-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Asap";
  src: url("../src/assets/fonts/Asap-VariableFont_wdth,wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Alegreya Sans SC Bold";
  src: url("../src/assets/fonts/AlegreyaSansSC-Bold.ttf");
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181a1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  scrollbar-color: #000000;
  overflow-wrap: break-word !important;
  font-synthesis-weight: auto;
}

.bubble {
  font-family:'Asap' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-synthesis-weight: auto;
}

html {
  margin: 0;
  padding: 0;
  background-color: rgba(32, 32, 32, 1);
}

.cm-line {
  min-width: 70% !important;
  min-height: 22px !important;
  max-width: 100% !important;
}
div.cm-line {
  min-width: 70% !important;
  min-height: 22px !important;
  max-width: 100% !important;
}

div.cm-content.cm-lineWrapping {
  max-width: 100% !important;
}

@media (prefers-reduced-motion: no-preference) {
  #react {
    --d: 20s;
    --s: 5;
    --_a: r linear infinite;
    animation: var(--_a) var(--d), var(--_a) calc(var(--d) / var(--s)) paused;
    animation-composition: add;
    will-change: animation;
  }
  #react:hover {
    animation-play-state: running;
    will-change: animation;
  }
  @keyframes r {
    to {
      rotate: 1turn;
    }
  }

  /* the fallback is also interesting because we use 2 different animations with 2 different properties that do the same thing! */
  @supports not (animation-composition: add) {
    #react {
      animation-name: r, r1;
      will-change: animation;
    }
    @keyframes r1 {
      to {
        transform: rotate(1turn);
      }
    }
  }
}

.debug {
  border: solid red 1px;
  animation: debug infinite 4s ease-in-out;
}

@keyframes debug {
  from {
    background-color: rgba(0, 255, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 255, 0, 0.6);
  }
  to {
    background-color: rgba(0, 255, 0, 0.3);
  }
}

.mask img {
  position: relative;
  display: block;
  text-align: center;
  margin: 6px auto;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

@media (min-width: 1024px) {
  .mask img {
    margin: -2px auto;
  }
}

@media (min-width: 1280px) {
  .mask img {
    margin: -4px auto;
  }
}

.mask div {
  background-position: -650px -40px;
  animation: shimmer 2s ease-in-out;
}
@keyframes shimmer {
  from {
    background-position: -650px -40px;
  }
  to {
    background-position: 90px 20px;
  }
}
.mask div::after {
  content: "";
  width: 120%;
  height: 120%;
  margin: 0;
  overflow: clip;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      circle farthest-side at 0 0,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.8) 98%,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat;
  background-position: inherit;
  -webkit-mask: url("./Vite.svg") center;
  mask: url("#mask-firefox");
}

.clearfix {
  overflow: auto;
}

#rect0,
#rect2 {
  background-color: rgb(40, 42, 54);
}

#rect1,
#rect3 {
  background-color: rgba(255, 255, 255, 0.06);
}

.tabClass {
  outline: transparent solid 2px;
  outline-offset: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  user-select: text;
}

.cm-lineWrapping * {
  min-width: 100vw;
}

.cm-editor {
  height: 100vh !important;
  width: 100vw !important;
  outline: none !important;
}

.cm-editor:active {
  outline: none !important;
}

.cm-editor * {
  overflow: auto !important;
  font-family: "Monocraft", monospace !important;
}

#codeGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(24, 26, 27, 1) 0%,
    rgba(0, 0, 0, 0) 85%
  );
}

#postCodeGradient {
  background: rgb(24, 26, 27);
  background: linear-gradient(
    180deg,
    rgba(24, 26, 27, 1) 0%,
    rgba(0, 0, 0, 0) 40%
  );
}

#houseGradient {
  background: rgb(5, 14, 22);
  background: linear-gradient(
    0deg,
    rgba(5, 14, 22, 1) 1%,
    rgba(41, 8, 73, 0) 15%
  );
}
#postHouseGradient {
  background: rgb(5, 14, 22);
  background: linear-gradient(
    180deg,
    rgba(5, 14, 22, 1) 0%,
    rgba(41, 8, 73, 1) 50%
  );
}

.purpGradient {
  background: rgb(41, 8, 73);
  background: linear-gradient(
    0deg,
    rgba(41, 8, 73, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.marqueeWrapper {
  --gap: 1rem;
  gap: var(--gap);
  transform: rotate(-7deg) scale(1.05);
  display: flex;
  overflow: clip;
  user-select: none;
  pointer-events: none;
  min-width: 100%;
  scale: 2rem;
  opacity: 15%;
  white-space: nowrap;
}

.marquee {
  gap: var(--gap);
  flex: none;
  display: flex;
  justify-content: space-around;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}
.helloMain {
  overflow: hidden;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100vw - var(--gap)));
  }
}

@media (prefers-reduced-motion) {
  .marquee {
    animation: none;
  }
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

#hello {
  -webkit-text-stroke: 1px rgba(24, 26, 27, 0.8);
  filter: drop-shadow(6px 5px 3px rgba(0, 0, 0, 0.65));
}

@media (max-width: 767px) {
  #hello {
    -webkit-text-stroke: 1px rgba(24, 26, 27, 0.6);
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.65));
  }
}
