@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monocraft";
  src: url("../src/assets/fonts/Monocraft.ttf");
}

@font-face {
  font-family: "ProtestRevolution";
  src: url("../src/assets/fonts/protestrevolution-regular-webfont.woff2");
}

@font-face {
  font-family: "Caveat Brush";
  src: url("../src/assets/fonts/CaveatBrush-Regular.ttf");
}

@font-face {
  font-family: "Barlow Condensed Semibold Italic";
  src: url("../src/assets/fonts/BarlowCondensed-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Gochi Hand Regular";
  src: url("../src/assets/fonts/GochiHand-Regular.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181a1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  scrollbar-color: #000000;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  #react {
    --d: 20s;
    --s: 5;
    --_a: r linear infinite;
    animation: var(--_a) var(--d), var(--_a) calc(var(--d) / var(--s)) paused;
    animation-composition: add;
  }
  #react:hover {
    animation-play-state: running;
  }
  @keyframes r {
    to {
      rotate: 1turn;
    }
  }

  /* the fallback is also interesting because we use 2 different animations with 2 different properties that do the same thing! */
  @supports not (animation-composition: add) {
    #react {
      animation-name: r, r1;
    }
    @keyframes r1 {
      to {
        transform: rotate(1turn);
      }
    }
  }
}

.debug {
  border: dotted red 15px;
  animation: debug infinite 4s ease-in-out;
}

@keyframes debug {
  from {
    background-color: rgba(0, 255, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 255, 0, 0.6);
  }
  to {
    background-color: rgba(0, 255, 0, 0.3);
  }
}

.clearfix {
  overflow: auto;
}

#rect0,
#rect2 {
  background-color: rgb(40, 42, 54);
}

#rect1,
#rect3 {
  background-color: rgba(255, 255, 255, 0.06);
}

.tabClass {
  outline: transparent solid 2px;
  outline-offset: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  user-select: text;
}

.cm-editor {
  height: 100vh !important;
  outline: none !important;
}

.cm-editor:active {
  outline: none !important;
}

.cm-editor * {
  overflow: wrap !important;
  font-family: "Monocraft";
}

/* .cm-lineNumbers {
  margin-left: 0.5em;
} */

#codeGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(24, 26, 27, 1) 0%,
    rgba(0, 0, 0, 0) 85%
  );
}

#postCodeGradient {
  background: rgb(24, 26, 27);
  background: linear-gradient(
    180deg,
    rgba(24, 26, 27, 1) 0%,
    rgba(0, 0, 0, 0) 40%
  );
}

#houseGradient {
  background: rgb(5, 14, 22);
  background: linear-gradient(
    0deg,
    rgba(5, 14, 22, 1) 1%,
    rgba(41, 8, 73, 0) 15%
  );
}
#postHouseGradient {
  background: rgb(5, 14, 22);
  background: linear-gradient(
    180deg,
    rgba(5, 14, 22, 1) 0%,
    rgba(41, 8, 73, 1) 50%
  );
}

.purpGradient {
  background: rgb(41, 8, 73);
  background: linear-gradient(
    0deg,
    rgba(41, 8, 73, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.marqueeWrapper {
  --gap: 1rem;
  gap: var(--gap);
  transform: rotate(-7deg) scale(1.05);
  display: flex;
  overflow: clip;
  user-select: none;
  pointer-events: none;
  min-width: 100%;
  scale: 2rem;
  opacity: 15%;
  white-space: nowrap;
}

.marquee {
  gap: var(--gap);
  flex: none;
  display: flex;
  justify-content: space-around;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}
.helloMain {
  overflow: hidden;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100vw - var(--gap)));
  }
}

@media (prefers-reduced-motion) {
  .marquee {
    animation: none;
  }
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

#hello {
  -webkit-text-stroke: 1px rgba(24, 26, 27, 0.8);
  filter: drop-shadow(6px 5px 3px rgba(0, 0, 0, 0.65));
}

@media (max-width: 767px) {
  #hello {
    -webkit-text-stroke: 1px rgba(24, 26, 27, 0.6);
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.65));
  }
}
