@font-face {
  font-family: "Alegreya Sans SC Black";
  src: url("../fonts/a/AlegreyaSansSC-Black.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Black Italic";
  src: url("../fonts/a/AlegreyaSansSC-BlackItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Bold";
  src: url("../fonts/a/AlegreyaSansSC-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Bold Italic";
  src: url("../fonts/a/AlegreyaSansSC-BoldItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Extra Bold";
  src: url("../fonts/a/AlegreyaSansSC-ExtraBold.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Extra Bold Italic";
  src: url("../fonts/a/AlegreyaSansSC-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Italic";
  src: url("../fonts/a/AlegreyaSansSC-Italic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Light";
  src: url("../fonts/a/AlegreyaSansSC-Light.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Light Italic";
  src: url("../fonts/a/AlegreyaSansSC-LightItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Medium";
  src: url("../fonts/a/AlegreyaSansSC-Medium.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Medium Italic";
  src: url("../fonts/a/AlegreyaSansSC-MediumItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Regular";
  src: url("../fonts/a/AlegreyaSansSC-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Thin";
  src: url("../fonts/a/AlegreyaSansSC-Thin.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC Thin Italic";
  src: url("../fonts/a/AlegreyaSansSC-ThinItalic.ttf");
}
